# Virtual environment
venv/*

# Python bytecode
*.pyc

# temporary files
**/.ipynb_checkpoints/*
**/temp*/*
**/output*.csv

# Dataset and figures
data/*
!data/main_table.csv
!data/main_table_S82.csv
!data/q_median.npy
figures/roi/*
